body {
  padding: 0;
  margin: 0;
  background-color: #121212;
}
.numericButton {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 26px;
  transition: all ease-in-out 0.15s;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  background-image: linear-gradient(135deg, #fafafa 0%, #c8c8c8 100%);
}

#calculator {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#result {
  height: 80px;
  width: 282px;
  text-align: right;
  font-weight: bold;
  font-size: 40px;
  box-sizing: border-box;
  padding: 0 1rem;
  margin-bottom: 10px;
  color: white;
  background-color: #181818;
  border: 1px solid #383838;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

.functionButton {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 26px;
  transition: all ease-in-out 0.15s;
  font-family: "Roboto", sans-serif;
  background-color: #ff9356;
  background-image: linear-gradient(315deg, #ff9356 0%, #fecf54 100%);
}

.numericButton:focus,
.functionButton:focus {
  outline: none;
}

.numericButton:active {
  border: 4px solid #c7c7c7;
  background-color: #c7c7c7;
}

.functionButton:active {
  border: 4px solid #eb8951;
  background-color: #eb8951;
}

td {
  padding: 5px;
}
